[submodule "PycharmProjects/pythonProject6/PycharmProjects/pythonProject6/rajaprerak.github.io"]
	path = PycharmProjects/pythonProject6/PycharmProjects/pythonProject6/rajaprerak.github.io
	url = https://github.com/rajaprerak/rajaprerak.github.io
